@font-face {
    font-family: 'Jalnan';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/Jalnan/Jalnan.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/Jalnan/Jalnan.woff) format('woff');
    font-display: swap;
}